<ion-view>
  <ion-content>
    <div class="list">
    	<label class="item line">
          <div class="home-line-one">
          </div>
        </label>
    	<label class="item add">
          <button class="home-add-button" ng-click="add()">
          </button>
        </label>
    	<label class="item line">
          <div class="home-line">
          </div>
        </label>
    	<label class="item find">
          <button class="home-find-button" ng-click="find()">
          </button>
        </label>
    	<label class="item line">
          <div class="home-line">
          </div>
        </label>
    	<label class="item walks">
          <button class="home-walks-button" ng-click="walks()">
          </button>
        </label>
    	<label class="item line">
          <div class="home-line">
          </div>
        </label>
    	<!-- WELCOME --> <!-- WHAT FONT?! -->
      </div>
  </ion-content>
</ion-view>
