<ion-modal-view class="modal add-smell">
  <ion-content>
    <form>
      <div class="list">
        <label class="item smell-name">
          <fieldset class="field smell-name">
    		<legend class="title smell-name">SMELL NAME</legend>
    		<input class="input smell-name" type="text" ng-model="smell.description">
		  </fieldset>
        </label>
        <label class="item">
          <span class="input-label">SMELL EXPECTATION &nbsp; &nbsp; &nbsp; SMELL PHOTO</span>
        </label>
        <input class="radio exp left" type="radio" name="expectedness" value="expected"> Expected
		<input class="radio exp right" type="radio" name="expectedness" value="unexpected"> Unexpected
        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
        <button class="camera" ng-click="takePic()"></button>
        <label class="item">
        	<span class="input-label">SMELL INTENSITY</span>
        	<input type="range" value="7">
        </label>
        <label class="item">
        	<span class="input-label">SMELL DURATION</span>
        	<input type="range" value="7">
        </label>
        <label class="item">
        	<span class="input-label">SMELL PREFERENCE</span>
        	<input type="range" value="7">
        </label>
        <label class="item">
          <fieldset class="field">
    		<legend class="title smell-assoc">SMELL ASSOCIATION</legend>
    		<textarea class=" input smell-assoc" rows="4" ng-model="smell.association"></textarea>
		  </fieldset>
        </label>
        <button class="cancel" ng-click="closeAdd()"></button>
        <button class="done" ng-click="continueAdd()"></button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>