<ion-modal-view class="modal add-smell">
  <ion-content>
    <form>
      <div class="list">
        <label class="item">
          <fieldset class="field">
    		<legend class="title smell-name">SMELL NAME</legend>
    		<input class="input smell-name" type="text" ng-model="smellData.description">
		  </fieldset>
        </label>
        <label class="item">
          <span class="input-label">SMELL EXPECTATION &nbsp; &nbsp; &nbsp; SMELL PHOTO</span>
        </label>
        <label>
        <input class="radio exp left" type="radio" name="expected" ng-model="smellData.expected" value=true> EXPECTED
        </label>
        <label>
		<input class="radio exp right" type="radio" name="expected" ng-model="smellData.expected" value=false> UNEXPECTED
        </label>
        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
        <button class="camera" ng-click="takePic()"></button>
        <label class="item">
        	<span class="input-label">SMELL INTENSITY</span>
        	<input type="range" min="1" max="7" value="3" step="1" list="tickmarks" ng-model="smellData.strength">
            <datalist id="tickmarks">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
            </datalist>
        </label>
        <label class="item">
        	<span class="input-label">SMELL DURATION</span>
        	<input type="range" min="1" max="7" value="3" step="1" ng-model="smellData.dynamicness">
        </label>
        <label class="item">
        	<span class="input-label">SMELL PREFERENCE</span>
        	<input type="range" min="1" max="7" value="3" step="1" ng-model="smellData.likeability">
        </label>
        <label class="item">
          <fieldset class="field">
    		<legend class="title smell-assoc">SMELL ASSOCIATION</legend>
    		<textarea class=" input smell-assoc" rows="4" ng-model="smellData.association"></textarea>
		  </fieldset>
        </label>
        <button class="cancel" ng-click="closeAdd()"></button>
        <button class="done" ng-click="continueAdd()"></button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>