<ion-modal-view class="modal add-smell">
  <ion-content>
    <form>
      <div class="list">
        <label class="item smell-name">
    		<span class="title smell-name">HERE I SMELL:</span>
    		<input class="input smell-name" type="text" ng-model="smell.description"readonly>
        </label>
        <label class="item">
    		<span class="title smell-assoc">SMELL ASSOCIATION</span>
    		<textarea class=" input smell-assoc" rows="4" ng-model="smell.association" readonly></textarea>
        </label>
        <button class="edit" ng-click="backToEdit()"></button>
        <button class="submit" ng-click="submitSmell()"></button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>