<ion-modal-view class="modal walks-list">
    <ion-content>
        <div class="walks-list title">
            <button class="walks-list close" ng-click="closeFinish()"></button>
            <div class="walks-list available">
                <p>{{walkdetails.description}} smell walk finished!</p>
                <p> You have added {{}} smells. </p>
                <p> You have walked {{walkdetails.distance}} meters. </p>
            </div>
            <button class="walks-list share" ng-click="shareOnFb()"></button>
        </div>
    </ion-content>
</ion-modal-view>