<ion-view view-title="Home">
  <ion-content>
    <div class="list">
    	<label class="item line">
          <div class="home-line-one">
          </div>
        </label>
    	<label class="item add">
          <button class="home-add-button" ng-click="infoClicked('Info goes here!!')">
          </button>
        </label>
    	<label class="item text add">
          <div class="home-add-text">
          </div>
        </label>
    	<label class="item line">
          <div class="home-line">
          </div>
        </label>
    	<label class="item find">
          <button class="home-find-button" ng-click="infoClicked('Info goes here!!')">
          </button>
        </label>
    	<label class="item text find">
          <div class="home-find-text">
          </div>
        </label>
    	<label class="item line">
          <div class="home-line">
          </div>
        </label>
    	<label class="item walks">
          <button class="home-walks-button" ng-click="infoClicked('Info goes here!!')">
          </button>
        </label>
    	<label class="item text walks">
          <div class="home-walks-text">
          </div>
        </label>
    	<label class="item line">
          <div class="home-line">
          </div>
        </label>
    	<!-- WELCOME --> <!-- WHAT FONT?! -->
      </div>
  </ion-content>
</ion-view>
