<ion-view title="Login">
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item info">
          <button class="welcome-info-button" ng-click="infoClicked('Info goes here!!')">
          </button>
        </label>
        <label class="item logo">
          <div class="welcome-logo">
          </div>
        </label>
        <label class="item welcome">
          <div class="welcome-bar">
          </div>
        </label>
        <label class="item login">
          <button class="button button-block button-positive login" ng-click="fbLogin()">
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
