/* GENERAL STYLES */
.pane {
    background: url("../img/bg.png");
    background-attachment:fixed;
    background-position: center;
}

.list, .item {
	background: transparent;
	border: 0px solid;
}

/* WELCOME PAGE STYLES */
.item.info {
	/* Might have something to add later for aligning issues. */
}

.item.logo {
	/* Might have something to add later for aligning issues. */
}

.item.welcome, .item.login {
	padding-left: 0px;
  	padding-right: 0px;
	padding-top: 0px;
  	padding-bottom: 0px;
}

.welcome-info-button {
	height: 30px;
	width: 30px;
	background-image: url("../img/info-button.png");
	background-color: Transparent;
  	background-repeat: no-repeat center center fixed;
  	background-size: 100% 100%;
  	border: 0px solid;
}

.welcome-logo {
	height: 300px;
	background-image: url("../img/logo.jpg");
  	background-repeat: no-repeat center center fixed;
  	background-size: 100% 100%;
  	border: 0px solid;
}

.welcome-bar {
	height: 80px;
  	background-image: url("../img/welcomebar.jpg");
  	background-repeat: no-repeat center center fixed;
  	background-size: 100% 100%;
  	border: 0px solid;
  	margin-bottom: 1px;
}

.button.button-block.button-positive.login {
	height: 80px;
  	background-image: url("../img/loginbutton.jpg");
  	background-repeat: no-repeat center center fixed;
  	background-size: 100% 100%;
  	border: 0px solid;
  	margin-top: 1px;
}

.home-line-one {
  height: 1px;
  width: 200px;
  margin-top: 22%;
  margin-left: 20%;
  margin-right: 20%;
  background-image: url("../img/home-line.jpg");
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
  border: 0px solid;
  float: center;
}

.home-line {
  height: 1px;
  width: 200px;
  margin-left: 20%;
  margin-right: 20%;
  background-image: url("../img/home-line.jpg");
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
  border: 0px solid;
  float: center;
}

.home-add-text {
  height: 15px;
  width: 100px;
  margin-left: 33%;
  margin-top: 1px;
  background-image: url("../img/home-add-text.png");
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
  border: 0px solid;
}

.home-find-text {
  height: 15px;
  width: 100px;
  margin-left: 33%;
  margin-top: 1px;
  background-image: url("../img/find-text-home.png");
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
  border: 0px solid;
}

.home-walks-text {
  height: 15px;
  width: 100px;
  margin-left: 33%;
  margin-top: 1px;
  background-image: url("../img/walks-text-home.png");
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
  border: 0px solid;
}

.home-add-button {
  height: 50px;
  width: 50px;
  margin-left: 40%;
  margin-bottom: 1px;
  background-image: url("../img/add-smell-home.png");
  background-color: Transparent;
    background-repeat: no-repeat center center fixed;
    background-size: 100% 100%;
    border: 0px solid;
}

.home-find-button {
  height: 50px;
  width: 50px;
  margin-left: 40%;
  margin-bottom: 1px;
  background-image: url("../img/find-smell-home.png");
  background-color: Transparent;
    background-repeat: no-repeat center center fixed;
    background-size: 100% 100%;
    border: 0px solid;
}

.home-walks-button {
  height: 50px;
  width: 50px;
  margin-left: 40%;
  margin-bottom: 1px;
  background-image: url("../img/walks-home.png");
  background-color: Transparent;
    background-repeat: no-repeat center center fixed;
    background-size: 100% 100%;
    border: 0px solid;
}