/* GENERAL STYLES */
.pane {
    background: url("../img/bg.png");
    background-attachment:fixed;
    background-position: center;
}

.list, .item {
	background: transparent;
	border: 0px solid;
  color: #0E1025;
  padding-top: 3px;
  padding-bottom: 3px;
}

.input-label {
  color: #0E1025;
}

/* WELCOME PAGE STYLES */
.item.info {
	/* Might have something to add later for aligning issues. */
}

.item.logo {
	/* Might have something to add later for aligning issues. */
}

.item.welcome, .item.login {
	padding-left: 0px;
  	padding-right: 0px;
	padding-top: 0px;
  	padding-bottom: 0px;
}

.welcome-info-button {
	height: 30px;
	width: 30px;
	background-image: url("../img/info-button.png");
	background-color: Transparent;
  	background-repeat: no-repeat center center fixed;
  	background-size: 100% 100%;
  	border: 0px solid;
}

.welcome-logo {
	height: 300px;
	background-image: url("../img/logo.jpg");
  	background-repeat: no-repeat center center fixed;
  	background-size: 100% 100%;
  	border: 0px solid;
}

.welcome-bar {
	height: 80px;
  	background-image: url("../img/welcomebar.jpg");
  	background-repeat: no-repeat center center fixed;
  	background-size: 100% 100%;
  	border: 0px solid;
  	margin-bottom: 1px;
}

.button.button-block.button-positive.login {
	height: 80px;
  	background-image: url("../img/loginbutton.jpg");
  	background-repeat: no-repeat center center fixed;
  	background-size: 100% 100%;
  	border: 0px solid;
  	margin-top: 1px;
}

.home-line-one {
  height: 1px;
  width: 200px;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  background-image: url("../img/home-line.jpg");
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
  border: 0px solid;
  float: center;
}

.home-line {
  height: 1px;
  width: 200px;
  padding-top: 0px;
  margin-left: 20%;
  margin-right: 20%;
  background-image: url("../img/home-line.jpg");
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
  border: 0px solid;
  float: center;
}

.home-add-text {
  height: 15px;
  width: 100px;
  margin-left: 33%;
  margin-top: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-image: url("../img/home-add-text.png");
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
  border: 0px solid;
}

.home-find-text {
  height: 15px;
  width: 100px;
  margin-left: 33%;
  margin-top: 1px;
  padding-top: 0px;
  background-image: url("../img/find-text-home.png");
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
  border: 0px solid;
}

.home-walks-text {
  height: 15px;
  width: 100px;
  margin-left: 33%;
  margin-top: 1px;
  padding-top: 0px;
  background-image: url("../img/walks-text-home.png");
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
  border: 0px solid;
}

.home-add-button {
  height: 50px;
  width: 50px;
  margin-left: 40%;
  margin-bottom: 1px;
  padding-top: 0px;
  background-image: url("../img/add-smell-home.png");
  background-color: Transparent;
    background-repeat: no-repeat center center fixed;
    background-size: 100% 100%;
    border: 0px solid;
}

.home-find-button {
  height: 50px;
  width: 50px;
  margin-left: 40%;
  margin-bottom: 1px;
  padding-top: 0px;
  background-image: url("../img/find-smell-home.png");
  background-color: Transparent;
    background-repeat: no-repeat center center fixed;
    background-size: 100% 100%;
    border: 0px solid;
}

.home-walks-button {
  height: 50px;
  width: 50px;
  margin-left: 40%;
  margin-bottom: 1px;
  padding-top: 0px;
  background-image: url("../img/walks-home.png");
  background-color: Transparent;
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
  border: 0px solid;
} 

/****** ADD SMELL STYLES ********/

.modal.add-smell {
  background-color: #FAFAED;
  opacity: 0.8;
}

legend {
  font-size: 17px;
}

.field.smell-name {
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-top: 1px;
}

.title.smell-name {
  border: 0px solid;
  width: 30%;
  color: #0E1025;
}

.input.smell-name {
  background-color: #FAFAED;
  color: #E05346;
}

.title.smell-assoc {
  border: 0px solid;
  width: 46%;
  color: #0E1025;
}

.input.smell-assoc {
  background-color: #FAFAED;
  color: #E05346;
}

.group.exp-cam {
  margin-left: 4%;
}

.camera {
  height: 20px;
  width: 25px;
  margin-left: 10%;
  background-image: url("../img/camera.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
    border: 0px solid;
}

.radio.exp.left {
  margin-left: 3%;
}

.radio.exp.right {
  margin-left: 1%;
}

.done {
  height: 30px;
  width: 35px;
  margin-left: 5%;
  margin-top: 2%;
  background-image: url("../img/done.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;
}

.cancel {
  height: 30px;
  width: 35px;
  margin-left: 70%;
  background-image: url("../img/cancel.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;
}

/*.home-add-button {
  height: 50px;
  width: 50px;
  margin-left: 40%;
  margin-bottom: 1px;
  padding-top: 0px;
  background-image: url("../img/add-smell-home.png");
  background-color: Transparent;
    background-repeat: no-repeat center center fixed;
    background-size: 100% 100%;
    border: 0px solid;
}*/

/*.bar-stable {
  background: transparent;
  border: 0px solid;
}*/