/* GENERAL STYLES */
*{font-family:Universe;}

.pane {
    background: url("../img/bg.png");
    background-attachment:fixed;
    background-position: center;
}

.list, .item {
	background: transparent;
	border: 0px solid;
  color: #0E1025;
  padding-top: 3px;
  padding-bottom: 3px;
}

.input-label {
  color: #0E1025;
}

/* WELCOME PAGE STYLES */
.item.info {
	/* Might have something to add later for aligning issues. */
}

.item.logo {
	/* Might have something to add later for aligning issues. */
}

.item.welcome, .item.login {
	padding-left: 0px;
  	padding-right: 0px;
	padding-top: 0px;
  	padding-bottom: 0px;
}

.welcome-info-button {
	height: 30px;
	width: 30px;
	background-image: url("../img/info-button.png");
	background-color: Transparent;
  	background-repeat: no-repeat center center fixed;
  	background-size: 100% 100%;
  	border: 0px solid;
}

.welcome-logo {
	height: 300px;
	background-image: url("../img/logo.jpg");
  	background-repeat: no-repeat center center fixed;
  	background-size: 100% 100%;
  	border: 0px solid;
}

.welcome-bar {
	height: 80px;
	width: auto;
  	background-image: url("../img/welcomebar.jpg");
  	background-repeat: no-repeat center center fixed;
  	background-size: 100% 100%;
  	border: 0px solid;
  	margin-bottom: 1px;
}

.button.button-block.button-positive.login {
	height: 80px;
  	background-image: url("../img/loginbutton.jpg");
  	background-repeat: no-repeat center center fixed;
  	background-size: 100% 100%;
  	border: 0px solid;
  	margin-top: 1px;
}

.home-line-one {
  height: 1px;
  width: 200px;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  background-image: url("../img/home-line.jpg");
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
  border: 0px solid;
  float: center;
}

.home-line {
  height: 1px;
  width: 200px;
  padding-top: 0px;
  margin-left: 20%;
  margin-right: 20%;
  background-image: url("../img/home-line.jpg");
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
  border: 0px solid;
  float: center;
}

.home-add-button {
  height: 50px;
  width: 63px;
  margin-left: 40%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 0px;
  background-image: url("../img/add-smell-home.png");
  background-color: Transparent;
    background-repeat: no-repeat center center fixed;
    background-size: 100% 100%;
    border: 0px solid;
}

.home-find-button {
  height: 50px;
  width: 68px;
  margin-left: 40%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 0px;
  background-image: url("../img/find-smell-home.png");
  background-color: Transparent;
    background-repeat: no-repeat center center fixed;
    background-size: 100% 100%;
    border: 0px solid;
}

.home-walks-button {
  height: 69px;
  width: 50px;
  margin-left: 40%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 0px;
  background-image: url("../img/walks-home.png");
  background-color: Transparent;
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
  border: 0px solid;
} 

/****** ADD SMELL STYLES ********/

.modal.add-smell {
  background-color: #FAFAED;
  opacity: 0.8;
}

legend {
  font-size: 17px;
}

.title.smell-name {
  border: 0px solid;
  width: 32%;
  color: #0E1025;
}

.smell-name-check {
	border-radius: 3px;
	 border-style: solid;
    border-width: 1px;
}

.smell-assoc-check {
	border-radius: 3px;
	 border-style: solid;
    border-width: 1px;
}

.input.smell-name {
  background-color: #FAFAED !important;
  color: #E05346;
}

.title.smell-summary {
  padding:0;
  border: 0px solid;
  width: 50%;
  height: 50px;
  color: #0E1025;
}

.title.smell-assoc {
  padding:0;
  border: 0px solid;
  width: 50%;
  height: 50px;
  color: #0E1025;
}

.input.smell-assoc {
  background-color: #FAFAED !important;
  color: #E05346;
}

.group.exp-cam {
  margin-left: 4%;
}

.camera {
  height: 20px;
  width: 25px;
  margin-left: 10%;
  background-image: url("../img/camera.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
    border: 0px solid;
}

.radio.exp.left {
  margin-left: 3%;
}

.radio.exp.right {
  margin-left: 1%;
}

.done {
  height: 30px;
  width: 44px;
  margin-left: 5%;
  margin-top: 2%;
  background-image: url("../img/done.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;
}

.cancel {
  height: 30px;
  width: 30px;
  margin-left: 70%;
  background-image: url("../img/cancel.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;
} 

.edit {
  height: 40px;
  width: 35px;
  margin-left: 50%;
  margin-top: 2%;
  background-image: url("../img/edit.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;
}

.submit {
  height: 30px;
  width: 118px;
  margin-left: 5%;
  margin-top: 2%;
  background-image: url("../img/submit.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;
}

.add-smell.share.table {
  display: table;
}

.share.cancel {
  display: table-cell;
  height: 30px;
  width: 35px;
  margin-left: 5%;
  margin-top: 15%;
  background-image: url("../img/cancel.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;

}

.button.share {
  display: table-cell;
  height: 40px;
  width: 45px;
  margin-top: 15%;
  background-image: url("../img/share.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;
}

.share.smell-name {
  display: table-cell;
  background-color: #FAFAED !important;
  /*width: 50%;*/
  margin-top: 15%;
}

/***************** SMELLS PAGE STYLES *******************/ 

.modal.smell-details {
  background-color: #FAFAED;
  opacity: 0.8;
}

.smell-details.close {
  display: table-cell;
  height: 30px;
  width: 35px;
  background-image: url("../img/cancel.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;
  /* margin-left: 70%; */
}

.smell-details.share {
  display: table-cell;
  height: 40px;
  width: 45px;
  margin-left: 12px;
  background-image: url("../img/share.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;
  /*margin-left: 60%;
  margin-top: 12%;*/
}

.smell-details.description {
  display: table-cell;
  margin-right: 0% !important; 
  width: 50%;
}

.smell-details.title {
  display: table;
}

.smell-details.line { 
  display: block; height: 1px;
  border: 0; border-top: 1px solid #E05346;
  margin: 1em 0; padding: 0; 
}

.smell-details.bottom {
  display: table;
  margin-left: 75%;
}

.smell-details.agree {
  display: table-cell;
  height: 30px;
  width: 35px;
  background-image: url("../img/agree.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;
}

.smell-details.disagree {
  display: table-cell;
  height: 30px;
  width: 35px;
  background-image: url("../img/disagree.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;
}

.modal.add-comment {
  background-color: #FAFAED;
  opacity: 0.8;
}

.title.comment {
  border: 0px solid;
  width: 23%;
  color: #0E1025;
}

.input.comment {
  background-color: #FAFAED;
  color: #E05346;
}

/************* SMELL WALKS PAGE STYLES *****************/

.modal.walks-list {
  background-color: #FAFAED;
  opacity: 0.8;
}

.walks-list.close {
  display: table-cell;
  height: 30px;
  width: 35px;
  background-image: url("../img/cancel.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;
  /* margin-left: 70%; */
}

.walks-list.share {
  display: table-cell;
  height: 40px;
  width: 45px;
  margin-left: 12px;
  background-image: url("../img/share.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;
  /*margin-left: 60%;
  margin-top: 12%;*/
}

.walks-list.available {
  display: table-cell;
  margin-right: 0% !important; 
  width: 50%;
}

.walks-list.title {
  display: table;
}

.walks-list.line { 
  display: block; height: 1px;
  border: 0; border-top: 1px solid #E05346;
  margin: 1em 0; padding: 0; 
}

.modal.walkdetails {
  background-color: #FAFAED;
  opacity: 0.8;
}

.walkdetails.line { 
  display: block; height: 1px;
  border: 0; border-top: 1px solid #E05346;
  margin: 1em 0; padding: 0; 
}

.walk.pickwalk.button {
  border: 0px solid;
  background-color: Transparent;
  color: #E05346;
}

.walk.addsmell.button {
  height: 30px;
  width: 55px;
  margin-left: 10%;
  background-image: url("../img/add-smell.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;
}

.walk.quitwalk.button {
  height: 30px;
  width: 55px;
  margin-left: 10%;
  background-image: url("../img/quit-walk.png");
  background-repeat: no-repeat center center fixed;
  background-color: Transparent;
  background-size: 100% 100%;
  border: 0px solid;
}